<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>首页</title>
    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet">
</head>
<body style="padding-left: 100px;padding-right: 100px;">

    <center>
        <table class="table table-striped">
            <caption><a th:href="@{/add}">添加用户</a></caption>
            <thead>
                <tr>
                    <th>编号</th>
                    <th>昵称</th>
                    <th>手机号</th>
                    <th>邮箱</th>
                    <th>住址</th>
                    <th>操作</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="user : ${userList}">
                    <td th:text="${user.id}"></td>
                    <td th:text="${user.nick}"></td>
                    <td th:text="${user.phone}"></td>
                    <td th:text="${user.email}"></td>
                    <td th:text="${user.address}"></td>
                    <td>
                        <a th:href="@{'/toUpdate?id='+${user.id}}">修改</a>
                        <a th:href="@{'/delete?id='+${user.id}}">删除</a>
                    </td>
                </tr>
                <tr align="center">
                    <td colspan="6">
                        <span th:if="${curPage <= 1}">
                            首页
                            上一页
                        </span>

                        <span th:if="${curPage > 1}">
                            <a th:href="@{'/index?curPage=1'}">首页</a>
                            <a th:href="@{'/index?curPage='+${curPage-1}}">上一页</a>
                        </span>

                        <span th:if="${curPage == pageCount}">
                            下一页
                            尾页
                        </span>

                        <span th:if="${curPage < pageCount}">
                            <a th:href="@{'/index?curPage='+${curPage+1}}">下一页</a>
                            <a th:href="@{'/index?curPage='+${pageCount}}">尾页</a>
                        </span>
                    </td>
                </tr>
            </tbody>
        </table>

    </center>
</body>
</html>